html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background: #09f;
  border: 0;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 10px 0 0 10px;
}

a {
  color: #09f;
  font-size: 32px;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  margin: 0 auto 30px;
  justify-content: center;
}

input[type=text] {
  border-radius: 0 10px 10px 0;
  font-size: 16px;
  border: none;
  padding: 4px 16px;
}