.Category-title {
  color: var(--theme-body-txt);
  font-weight: bold;
  margin-bottom: 0.7rem;
  margin-top: 0.6rem;
}

.Category-list {
  list-style-position: inside;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.Category-list-item {
	list-style: none;
	padding: 0.3rem;
	margin: 0.2rem;
	font-size: 1.2rem;
}
.Category-link {
  color: inherit;
  font-size: 1em;
  text-decoration: none;
  font-size: 1em;
  transition: color ease-in 0.1s;
}

@media screen and (min-width: 55rem) {
  .Category-title{
    text-align: right;
  }
  .Category-list {
    justify-content: flex-end;
  }

  .Category-list li::before {
    color: #8c55a2;
    margin-right: 0.5em;
    font-size: 1em;
  }
}

.Category-list-item:nth-child(5n + 1) {
	background-color: var(--brand-color_1);
	color: var(--theme-body-bg);
}
.Category-list-item:nth-child(5n + 2) {
	background-color: var(--brand-color_2);
	color: var(--theme-body-bg);
}
.Category-list-item:nth-child(5n + 3) {
	background-color: var(--brand-color_3);
	color: white;
}
.Category-list-item:nth-child(5n + 4) {
	background-color: var(--brand-color_4);
	color: white;
}
.Category-list-item:nth-child(5n + 5) {
	background-color: var(--brand-color_5);
	color: var(--theme-body-bg);
}
