.Category-title{
    color: white;
    font-weight: bold;
}

.Category-list{
    list-style-position: inside;
}

.Category-list li::before{
    color: #8c55a2;
    content: '--';
    margin-right: .5em;
    font-size: 1em;
}

.Category-link{
    color: white;
    font-size: 1em;
    transition: color ease-in .1s;
}

.Category-link:hover{
    color: #8c55a2;
}