
.ListOfGifs {
  display: grid;
  grid-gap: .6rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  align-items: center;
  min-height: 50vh;
}

.ListOfGifs-item {
  background-color: #eee;
  display: inline-block;
  width: 100%;
}
