:root {
  --results-columns: 2;
}

.ListOfGifs {
  column-count: var(--results-columns);
  column-gap: .5em;
  min-height: 100vh;
}

.ListOfGifs-item {
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
  background-color: #eee;
  display: inline-block;
  width: 100%;
}

@media (min-width: 600px) {
  :root {
    --results-columns: 3;
  }
}

@media (min-width: 800px) {
  :root {
    --results-columns: 4;
  }
}