.modal {
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(4px);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
}

.modal-content {
  background: #111;
  width: 300px;
  padding: 10px 20px;
  height: 80vh;
  margin: 10vh auto;
  position: relative;
}

.modal-content .btn {
  display: block;
  margin-bottom: 32px;
}