.App {
  text-align: center;
  background-color: #121212;
}

.App-logo {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
}

.App-logo img {
  object-fit: cover;
  width: 100%;
}

.App-title {
  color: white;
}

.App-content {
  max-width: 900px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}

/*----------*/

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-results {
  flex-shrink: 2;
  min-height: 100vh;
}

.App-category {
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 640px){
  .App-main{
    flex-direction: initial;
  }

  .App-category{
    padding: 0 2em;
    position: sticky;
    top: 0;
    width: 40%;
  }
}